In [1]:
pip install torch==1.10.0

Requirement already satisfied: torch==1.10.0 in /usr/local/Caskroom/miniconda/base/envs/py38/lib/python3.8/site-packages (1.10.0)
Requirement already satisfied: typing-extensions in /usr/local/Caskroom/miniconda/base/envs/py38/lib/python3.8/site-packages (from torch==1.10.0) (4.4.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import transformers
from transformers import pipeline
import re
from transformers import AutoTokenizer
import torch

/usr/local/Caskroom/miniconda/base/envs/py38/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
2023-02-27 22:18:53.324685: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [3]:
print(torch.__version__)
print(transformers.__version__)

1.10.0
4.26.1

In [4]:
pd.set_option('display.max_colwidth', None)

In [5]:
df = pd.read_csv('data/train.csv')

In [6]:
df.sample(2)

,id,keyword,location,text,target
6480,9267,sunk,NaN,Once upon a time the fact that I decided to go to university 7 hours away actually sunk in,0
2722,3908,devastated,FOLLOWS YOU everywhere you go,Obama Declares Disaster for Typhoon-Devastated Saipan: Obama signs disaster declaration for Northern Marians a... http://t.co/JCszCJiHlH,1

In [7]:
df_tweet = df[['text']]

In [8]:
df_tweet.head(2)

                                                                    text
0  Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all
1                                 Forest fire near La Ronge Sask. Canada

In [9]:
def clean_text(text):
    # Remove URLs
    text = re.sub(r'http\S+', '', text)
    # Remove mentions
    text = re.sub(r'@\w+', '', text)
    # Remove special characters and punctuations
    text = re.sub(r'[^\w\s]', '', text)
    # Remove extra spaces
    text = re.sub(r'\s+', ' ', text).strip()
    # Convert to lowercase
    text = text.lower()
    
    return text

In [10]:
# Apply the clean_text function to the 'tweet' column
df['text'] = df_tweet['text'].apply(clean_text)

In [11]:
df['text'].head(2)

0    our deeds are the reason of this earthquake may allah forgive us all
1                                   forest fire near la ronge sask canada
Name: text, dtype: object

In [12]:
# Load the tokenizer for a specific pre-trained model
tokenizer = AutoTokenizer.from_pretrained('bert-base-uncased')

In [13]:
def tokenize_tweet(tweet):
    tokenized_tweet = tokenizer.encode_plus(tweet, add_special_tokens=True, 
                                             return_attention_mask=True, 
                                             return_tensors='pt')
    return tokenized_tweet

In [17]:
# Apply the tokenize_tweet function to the 'tweet' column
df['tokenized_tweet'] = df['text'].apply(tokenize_tweet)

# Print the original and tokenized tweet columns
print(df['tokenized_tweet'])

0       [input_ids, token_type_ids, attention_mask]
1       [input_ids, token_type_ids, attention_mask]
2       [input_ids, token_type_ids, attention_mask]
3       [input_ids, token_type_ids, attention_mask]
4       [input_ids, token_type_ids, attention_mask]
                           ...
7608    [input_ids, token_type_ids, attention_mask]
7609    [input_ids, token_type_ids, attention_mask]
7610    [input_ids, token_type_ids, attention_mask]
7611    [input_ids, token_type_ids, attention_mask]
7612    [input_ids, token_type_ids, attention_mask]
Name: tokenized_tweet, Length: 7613, dtype: object

In [ ]:
print(tokenized_text['input_ids'])
print(tokenized_text['attention_mask'])

KeyError: 'input_ids'